$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */

.body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 100%;
  background: #fafafa;
}


///////////////
//
// NAV BAR
//
///////////////

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
  background: #fdfdfd;
}

.custom-nav {
  margin: 0;
  float: right;
  font-size: 1.1em;
  list-style-type: none;

  li {
    display: inline-block;
    padding: 0 40px;
    padding-top: 15px;
    padding-bottom: 10px;

    a {
      text-decoration: none;
      color: #e82548;
      font-family: 'Open Sans';
      font-weight: lighter;
    }
  }

  .active {
    border-bottom: 5px solid #e82548;
  }
}

.footer {
  bottom: 0;
}

.trans {
  background: rgba(0,0,0,0);
  border-top: 15px solid #e82548;
  border-bottom: 15px solid #e82548;
}

.marketing {
  text-align: center;
}

.splash {
  padding-top: 3%;
  padding-bottom: 3%;
  color: white;
  text-align: center;

  img {
    width: 100%;
  }
}

.hero {
  text-align: center;

  h2, h3 {
    font-family: 'Roboto Condensed';
    color: #e82548;
  }

  p {
    font-family: 'Open Sans';
    color: #777;
    letter-spacing: 0.03em;
    line-height: 1.5em;
  }

  hr {
    border-top: 1px solid #e82548;
    width: 10%;
  }
}

#available {
  line-height: 2em;
}

.dl-btn {
  background: #ff4264;
  color: white;
  font-family: 'Roboto Condensed';
  font-weight: 700;
  letter-spacing: 1px;
  padding: 10px;
  margin-right: 4px;
  border-bottom: 3px solid #e82548;
}

.dl-btn:hover {
  text-decoration: none;
  color: white;
  background: #e82548;
}

.dl-btn:active {
  text-decoration: none;
  color: white;
  background: #ff4264;
}

.main-body {
  background: rgba(0,0,0,0);

  h3, h2 {
    font-family: 'Roboto Condensed';
    color: #e82548;
  }

  h3 {
    margin-top: 0;
  }

  hr {
    border-top: 1px solid #e82548;
    width: 30%;
    margin: 10px 0;
  }

  p {
    font-family: 'Open Sans';
    color: #444;
    letter-spacing: 0.03em;
    line-height: 1.5em;
  }

  img {
    width: 100%;
  }
}

.novafest {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-size: 1.2em;
}

.custom {
  max-width: 1080px; 
  margin: 0 auto;
}

.text {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;

  hr {
    margin: 15px auto;
    width: 10%;
  }
  
  p {
    color: white;
  }

  h2 {
    color: white;
  }
}

.opaque {
  background: #f0f0f0;
}

.section {
  padding-bottom: 50px;
  padding-top: 50px;
}

.vid-bg {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: -25vh;

  .dark-bg {
    background: rgba(30,0,10,0.6);
    position:absolute;
    width: 100%;
    height: 100%;
  }

  video.fillWidth {
    width: 100%;
    height: 100%;
  }
}

video.small-vid {
  width: 100%;
}

#trap-vid {
  width: 80%;
  margin: 20px;
}

.arena-bg {
  z-index: -2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: -25vh;

  img {
    width: 100%;
  }

}

/* Custom page header */
.header {

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 10px;
  color: #777;
  text-align: center;
  background: #f5f5f5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

#team {
  text-align: center;

  hr {
    border-top: 1px solid #e82548;
    width: 10%;
  }

  h2, h4 {
    font-family: 'Roboto Condensed';
    color: #e82548;
  }

  h2 {
    padding-top: 30px;
  }

  .team-member {

    padding-top: 15px;
    padding-bottom: 15px;

    h4 {
      margin: 5px;
    }

    p {
      padding: 0;
      font-family: 'Roboto Condensed';
      color: #999;
    }

    img {
      width: 80%;
      padding: 20px;
    }
  }
}

#hazards {
  text-align: center;
  h1 {
    font-family: 'Roboto Condensed';
    color: #e82548;
    margin: 10px 0;
  }

  hr {
    border-top: 1px solid #e82548;
    width: 10%;
    margin: 30px auto;
  }
}

.grid {
  .grid-item {
    margin: 2%;
    width: 20%;
    float: left;
    transition: background 0.4s;

    &:hover {
      background: #dedede;
      cursor: pointer;
    }

    &.selected {
      background: #ccc;
    }

    img {
      width: 100%;
      padding: 10px;
    }
  }
}

#trap-detail {
  text-align: center;
  padding: 30px;

  #trap-img {
    width: 90%;
    padding: 20px;
  }


}

@media (max-width: 480px) {
  .header {
    display:none;
  }

  .arena-bg {
    background: #222;

    img {
      display: none;
    }
  }

  .vid-bg {
    margin-top: -54.2vh;
  }
}
